body{
    background-color: green;
    margin: 0px;
    padding: 30px;

    display: flex;
    justify-content: center;
}
.contenedor {
    width: 450px;
    padding: 8px;
    background-color: white; 
    border-radius: 4px;

    display: grid;
    grid-template: repeat(3, 150px)/ repeat(3, 150px);
    grid-template-areas: 
        "logo menu menu"
        "main main aside"
        "footer-1 footer-2 footer-3";
    place-content: center;
    gap: 4px;
}

.item {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-1{
    background-color: greenyellow;
    grid-area: logo;
    
}
.item-2{
    background-color: greenyellow;
    grid-area: aside;
}
.item-3{
    background-color: greenyellow;
    grid-area: footer-1;
}
.item-4{
    background-color: lightgreen;
    grid-area: menu;
}
.item-5{
    background-color: lightgreen;
    grid-area: footer-2;
}
.item-6{
    background-color: green;
    grid-area: main;
}
.item-7{
    background-color: green;
    grid-area: footer-3;
}