
.contenedor{
    border: 5px solid #e1bee7;
    background-color: white;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

}
.contenedor-2{
    border: 5px solid #e1bee7;
    background-color: white;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.item {
    border: 5px solid #00bcd4;
    font-size: 2rem;
}
