*{
    font-family: 'Roboto', sans-serif;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}
.hero {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-auto-rows: 400px
}
.hero-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.info {
    align-self: center;
}